.banner--container {
  padding: 0.25rem 0;
  display: grid;
  place-items: center;
  color: aliceblue;
  background-color: #ce4276;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

.banner--container a {
  font-family: 'Open Sans', sans-serif;
  color: aliceblue;
  text-decoration: none;
  font-weight: 200;
}

.banner--container a:hover {
  color: #4369b2;
}
