@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.coin--item {
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  list-style: none;
  background-color: var(--pripary-color);
}

.coin--item:nth-child(4n + 2),
.coin--item:nth-child(4n + 3) {
  background-color: var(--accent-color);
}

.coin--btn {
  align-self: flex-end;
}

.coin--btn * {
  color: aliceblue;
}

.coin--head {
  font-size: 10vw;
  align-self: flex-start;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #b13967;
  margin: 0.5rem 0;
}

.coin--preview {
  color: aliceblue;
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.coin-value {
  font-size: 1rem;
  font-weight: 500;
}

.coin-percent {
  font-weight: 400;
}
