@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.header--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  color: aliceblue;
}

.header--container form {
  width: 80%;
  height: 3rem;
  margin: 0;
  align-self: center;
  display: flex;
  align-items: center;
  border-bottom: solid #b13967 1px;
  border-radius: 10px;
  box-shadow: 0 2px 3px 1px rgba(124, 121, 121, 0.342);
}

.header--search-icon {
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
}

.header--container form > input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: aliceblue;
  font-family: 'Lato', sans-serif;
  outline: none;
}

.header--container form > input::placeholder {
  color: #b13967;
  font-family: 'Lato', sans-serif;
}

.header--container form > input:focus {
  border: none;
}

.header--title {
  width: 100%;
  margin: 0.25rem;
  align-self: flex-start;
  justify-self: flex-end;
  text-align: right;
  display: flex;
}

.title--logo > img {
  width: 40%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 6vw;
  font-weight: 900;
}

.header--subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vw;
  font-weight: 500;
}

form {
  margin: 1rem 0;
}